<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <add key="RabbbitHost" value="192.168.124.99" />
    <add key="RabbitUser" value="just0000"/>
    <add key="RabbitPassword" value="123456"/>
    <add key="RabbitProt" value="5672"/>
    
  </appSettings>
</configuration>